//font
$font-stack:	Helvetica, sans-serif;
$def-font-size: 12px;

//Text colors
$primary-font-color:	#000;
$dark-grey-font-color:	#444;
$med-grey-font-color:	#AAAAAA;
$warning-font-color:	#F70;

//background colors
$white: #FFF;
$light-grey: #F9F9F9;
$warning-bg-color: #FD9;

//border colors
$med-grey: #EEEEEE;
$light-blue: #ebf3ff;
$blue: #d6e7ff;
$med-light-blue: #38F;
$med-blue: #4BF;

//border
$blueBorder: 2px solid $blue;

//margin and padding
$small-pad: 5px;

* {
	box-sizing: border-box;
}

//main frames
div.fullsize {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
}
div#mainCont {
	z-index: 0;
}
div#popup {
	z-index:1000;
}

//general

.pm-zero {
	margin:0;
	padding:0;
}
.td-padding {
	padding: 2px;
}

.pointer {
	cursor:pointer;
}

body {
	@extend .pm-zero;
	font-size: $def-font-size;
	line-height: 1.25;
	background-color: $light-grey;
	font: $def-font-size $font-stack;
	color: $primary-font-color;
}

div,svg,span {
	@extend .pm-zero;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}
td {
	@extend table;
	@extend .td-padding;
}

//animation
.med-animation {
	transition: all 350ms ease;
}

//padding and margin
.section {
	margin: $small-pad 0px $small-pad;
}
.small-pad {
	padding: $small-pad;
}

//width
.fullwidth {
	width:100%;
}

//usability
.center {
	text-align:center;
}
.center-element {
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight:bold;
}

.thead {
	@extend .bold;
	background-color:$med-grey;
}

.ss-footer {
	text-align: center;
	padding:5px 0px;
	color: $med-grey-font-color;
}

.ss-main-container {
	border: 1px $med-grey solid;
	background-color: $white;
}

.ss-title-underline {
	border-bottom: 5px solid;
}

.box-score-table {
	min-width: 150px;
}

.box-score-table-team {
	padding: 2px;
	border-left: 5px solid transparent;
}

.overflow-ellipsis {
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: clip;
}

//headline
div.headline-message {
	@extend .bold;
	padding: 10px;
	color: $med-grey-font-color;
}
div.headline-message-warning {
	background-color: $warning-bg-color;
	color: $warning-font-color;
}

//popup
div.popup-bg-k {
	background-color:rgba(0,0,0,.5);
}
div.popup-bg-w {
	background-color:rgba(255,255,255,.5);
}
div.browse-cont {
	@extend .fullwidth;
	@extend .center-element;
	padding:20px 0px 40px;
	max-width:400px;
	height:100%;
	display:flex;
	flex-flow:column;
}
div.browse-schedule {
	@extend .border;
	@extend .small-pad;
	@extend .fullwidth;
	background-color: $white;
	flex: 1 0 100px;
	overflow:auto;
}

//forms
.border {
	border: $blueBorder;
}
label.ppl, input[type=button], input[type=text], input[type=date], select, button {
	@extend .border;
	background-color: $light-grey;
	padding: 5px;
	font-size: $def-font-size;
	display:inline-block;
	outline:none;
	color: $dark-grey-font-color;
}
button, input[type=button] {
	@extend .bold;
}

input.gameInput {
	@extend .border;
	@extend .full-width-xs;
	height:40px;
}

input.browseButton {
	@extend button;
	@extend .full-width-xs;
	height:30px;
	margin: 5px 0px;
}

.team-stat-graph {
	padding-top: 5px;
	padding-bottom: 5px;
}

.team-stat-graph-row {
	@extend .hover;
	@extend .pointer;
}

.team-stat-graph-type {
	padding-right:5px;
}

//hover

.hov, .hover:hover {
	background-color: $light-blue;
}

.teamStatMin {
	@extend .pointer;
}

.active {
	background-color: $blue;
}

.underline-link {
	position: relative;
	z-index: 1;
}
.underline-link + span {
	
}
.underline-link::after {
	@extend .med-animation;
	content:'';
	position: absolute;
	bottom:0;
	right:0;
	width: 0;
	background-color: $med-blue;
	height: 2px;
	z-index: -1;
}
.underline-link.underline-link-selected::after {
	width: 100%;
}