//font
$font-stack:	Helvetica, sans-serif;
$def-font-size: 12px;

//Text colors
$primary-font-color:	#000;
$dark-grey-font-color:	#444;
$med-grey-font-color:	#AAAAAA;
$warning-font-color:	#F70;

//background colors
$white: #FFF;
$light-grey: #F9F9F9;
$warning-bg-color: #FD9;

//border colors
$med-grey: #EEEEEE;
$light-blue: #ebf3ff;
$blue: #d6e7ff;

//border
$blueBorder: 2px solid $blue;

* {
	box-sizing: border-box;
}

.pm-zero {
	margin:0;
	padding:0;
}

.pointer {
	cursor:pointer;
}

body {
	@extend .pm-zero;
	background-color: $light-grey;
	font: $def-font-size $font-stack;
	color: $primary-font-color;
}

div,svg,span {
	@extend .pm-zero;
}

.section {
	margin: 5px 0px 5px;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
}
td {
	@extend table;
	padding:2px;
}

.center {
	text-align:center;
}
.center-element {
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight:bold;
}

.thead {
	@extend .bold;
	background-color:$med-grey;
}

.ss-footer {
	text-align: center;
	padding:5px 0px;
	color: $med-grey-font-color;
}

.ss-main-container {
	border: 1px $med-grey solid;
	background-color: $white;
}

.ss-title-underline {
	border-bottom: 5px solid;
}

.box-score-table {
	min-width: 150px;
}

.box-score-table-team {
	padding: 2px;
	border-left: 5px solid transparent;
}

div.headline-message {
	@extend .bold;
	padding: 10px;
	color: $med-grey-font-color;
}
div.headline-message-warning {
	background-color: $warning-bg-color;
	color: $warning-font-color;
}


//forms
input.border {
	border: $blueBorder;
}
label.ppl, input[type=button], input[type=text], input[type=date], select, button {
	@extend input.border;
	background-color: $light-grey;
	padding: 5px;
	font-size: $def-font-size;
	display:inline-block;
	outline:none;
	color: $dark-grey-font-color;
}
button, input[type=button] {
	@extend .bold;
}

input.gameInput {
	@extend input.border;
	@extend .full-width-xs;
	height:40px;
}

input.browseButton {
	@extend button;
	@extend .full-width-xs;
	height:30px;
	margin: 5px 0px;
}

//hover

.hov, .hover:hover {
	background-color: $light-blue;
}

.teamStatMin {
	@extend .pointer;
}

.active {
	background-color: $blue;
}