.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.full-width-xs {
	width: 100%;
}

.two-third-width-xs {
	width: 2/3*100%;
}

.half-width-xs {
	width: 50%;
}

.auto-width-xs {
	width: auto;
}

@media (min-width: 768px) {
    .text-right-sm {
        text-align: right;
    }

	.text-left-sm {
		text-align: left;
	}

	.full-width-sm {
		width: 100%;
	}

	.half-width-sm {
		width: 50%;
	}

	.auto-width-sm {
		width: auto;
	}
}

@media (max-width: 400px) {
	.visible-xxs {
		display: block !important;
	}
	.hidden-xxs {
		display: none !important;
	}
}