/*bright blue: d6e7ff*/
* {
	font: 12px sans-serif;
	box-sizing: border-box;
}
body,div,svg,span {
	margin:0;
	padding:0;
}
body {
	background-color: #F9F9F9;
}
.center {
	text-align:center;
}
.centerAl {
	margin-left:auto;
	margin-right:auto;
}
table, td {
	border-spacing: 0px;
	border-collapse: collapse;
}
td {
	font: inherit;
	padding:2px;
}
td.thead, .bold{
	font-weight:bold;
}
td.thead {
	background-color:#EEEEEE;
}
.left {
	float:left;
}
.right {
	float:right;
}
.inline{
	display:inline-block;
}
.smaTitle {
	font-size:14px;
}
.medTitle {
	font-size: 17px;
}
.larTitle {
	font-size:30px;
}
.fullWidth {
	width:100%;
}
.scroll {
	overflow:auto;
}
.cf:before,.cf:after{
	content:"";
	display: table;
}
.cf:after {
	clear:both;
}
div.fullsize {
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
}

div#mainCont {
	z-index: 0;
}
div#popup {
	z-index:1000;
	display:none;
}
div.popbgk {
	background-color:rgba(0,0,0,.5);
}
div.popbgw {
	background-color:rgba(255,255,255,.5);
}
.gameBox {
	background-color:#FFFFFF;
	margin:0px auto 10px;
	width:802px;
	border:1px solid #EEEEEE;
}

.boxScore {
	height: 90px;
	width: 800px;
}
.mTLCont {
	height: 80px;
	width: 240px;
}
.mainTeamLabel {
	width:240px;
	height:80px;
	border-bottom:
	5px solid transparent;
	position:relative;
}
.mainScore {
	position:relative;
	width:65px;
	height:47px;
}
.scoreNum {
	padding:5px;
}
.bottomText {
	position:absolute;
	bottom:0px;
}
.pointer {
	cursor:pointer;
}

.chart {
	/*background-color: #EEEEEE;*/
}

.axis text, .lineKey text, .linePointKey text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke-width: 1.5px;
}

.scoreLine {
	stroke-linecap: square;
	fill: none;
	stroke-width:2px;
	shape-rendering: cripsEdges;
}

svg {
	display:block;
}

.teamStats {
	width: 800px;
	border-bottom: 2px #DDDDDD solid;
	overflow:none;
}
.teamStat, .teamStatFill {
	width: 400px;
	float: left;
	border-top: 2px #DDDDDD solid;
	overflow:none;
}
.teamStat, .teamStatMin {
	cursor:pointer;
}
.teamStat:hover, .teamStatMin:hover, .teamStatsMin .hov, .hover:hover, input[type=button]:hover {
	background-color: #ebf3ff;
}
.teamStat.active, .teamStatMin.active {
	background-color: #d6e7ff;
}
.tSLabel {
	padding:0px 5px;
	width:200px;
	height:39px;
	text-align:right;
}
.tLeft {
	text-align:left;
}
.tRight {
	text-align:right;
}
.teamStatSVG {
	height:39px;
	background-color:transparent;
	width:200px;
}
.tSLabelCont {
	width:140px;
}
.tSDataCont {
	height:39px;
	width:50px
}
.tsDataLabel {
	width:50px;
	height:18px;
	line-height:20px;
}
.replayArrow {
	d: M0,0 a10,10 0 1,0 10,10 h3 l-4,-4 l-4,4 h3 a8,8 0 1,1 -8,-8 z;
	fill: pink;
}
.replayText {
	text-anchor:middle;
	dy:.35em;
	dx:-.1em;
	font-size:9px;
}

.moLine {
	stroke: #CCC;
}

.playerStatsT {
	width: 100%;
}

.showDispCont {
	overflow:hidden;
}

.showDispCheck {
	display:none;
}

.showDispLabel {
	padding: 5px;
	width:100%;
	text-align:center;
	display:block;
	color:#AAA;
	font-weight:bold;
	cursor: pointer;
}
.showDispLabel:hover {
	background-color: #ebf3ff;
}
.arrowSvg {
	margin:0px 10px;
}
.svgLink {
	fill:#AAA;
	font-weight:100;
}
.svgLinkActive {
	fill:#000;
	font-weight:900;
}
.svgLinkBox {
	fill:transparent;
	cursor:pointer;
}
.svgLinkBoxActive {
	cursor:default;
}
.bSCont {
	float:left;
	width:320px;
}
.bSTable {
	margin:0px auto;
	min-width:170px;
}
.bSDateLoc {
	height:33px;
}
input[type=radio].pp {
	display:none;
}
label.ppl, input[type=button], input[type=text], input[type=date], select {
	border: solid 2px #d6e7ff;
	background-color: #F9F9F9;
	padding: 5px;
	font-size: 12px;
	display:inline-block;
	margin:0px 5px;
	outline:none;
}
label.ppl, input[type=button] {
	color: #444;
	cursor: pointer;
}
label.ppl:hover{
	background-color: #ebf3ff;
}
input[type=radio].pp:checked + label.ppl {
	background-color: #d6e7ff;
	color: #000;
	font-weight: bold;
	cursor: default;
}
div.opLoc {
	margin-bottom:10px
}
div.gameInputCont {
	padding:10px;
}
input.gameInput {
	border: solid 2px #d6e7ff;
	padding:10px;
	height:40px;
	width:80%;
}
input.browseButton {
	background-color: #F9F9F9;
	border:2px solid #d6e7ff;
	color: #444;
	font-size: 12px;
	height:30px;
	margin: 5px 0px;
	width:140px;
	float:right;
	outline: 0;
	cursor:pointer;
	font-weight:bold;
}

.playLabelBox {
	stroke: #d6e7ff;
	stroke-width: 2px;
	fill: #FFFFFF;
}
td.pbp {
	border: solid 1px #d6e7ff;
}
td.pbpHead {
	background-color: #d6e7ff;
}
div.footer {
	color: #AAAAAA;
	text-align:center;
	font-size:12px;
	padding:5px 0px;
	margin:0px auto;
	width:800px;
}
div.footerList {
	width:400px;
	margin:0px auto;
	text-align:left;
}
div.browseCont {
	margin:0px auto;
	padding:20px 0px 40px;
	width:400px;
	height:100%;
	display:flex;
	flex-flow:column;
}
div.popupButtons{
	width:100%;
	height:40px;
	flex: 0 0 40px;
}
div.browseScheduleCont {
}
div.browseSchedule {
	background-color: #FFFFFF;
	border: solid 2px #d6e7ff;
	flex: 1 0 100px;
	width:100%;
	overflow:auto;
}
