<div class="boxScore">
	<div class="left mTLCont">
		<div class="left tRight mainTeamLabel" style="border-color: #{{game.a.primary}};">
			<div class="larTitle away bottomText fullWidth">
				{{game.a.teamName}}
			</div>
		</div>
	</div>
	<div class="right mTLCont">
		<div class="right tLeft mainTeamLabel" style="border-color: #{{game.h.primary}};">
			<div class="larTitle home bottomText fullWidth">
				{{game.h.teamName}}
			</div>
		</div>
	</div>
	<div class="bSCont">
		<div class="bSDateLoc fullWidth center">
			{{game.gameDate}}<br>{{game.venue.venueName}}, {{game.venue.city}}, {{game.venue.state}}
		</div>
		<div class="fullWidth">
			<div class="left tLeft mainScore">
				<div class="larTitle away bottomText fullWidth scoreNum">
					{{game.aScore}}
				</div>
			</div>
			<div class="right tRight mainScore">
				<div class="larTitle home bottomText fullWidth scoreNum">
					{{game.hScore}}
				</div>
			</div>
			<table class="bSTable">
				<tr>
					<td class="bold thead">{{game.plays[game.plays.length-1].t | printedTime:this}}</td>
					<td class="center thead" ng-repeat="period in game.boxScore">{{(period.period > sport.q.n)?period.l:period.period}}</td>
					<td class="center bold thead">T</td>
				</tr>
				<tr>
					<td class="bold">{{game.a.short}}</td>
					<td class="center" ng-repeat="period in game.boxScore">{{period.a}}</td>
					<td class="center bold">{{game.aScore}}</td>
				</tr>
				<tr>
					<td class="bold">{{game.h.short}}</td>
					<td class="center" ng-repeat="period in game.boxScore">{{period.h}}</td>
					<td class="center bold">{{game.hScore}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>