<div class="row secton">
	<div class="col-xs-12 center">
			{{game.gameDate}}<br>{{game.venue.venueName}}, {{game.venue.city}}, {{game.venue.state}}
	</div>
</div>
<div class="row secton">
	<div class="hidden-xs col-sm-4 pm-zero">
		<div class="row pm-zero">
			<div class="col-sm-10 text-right pm-zero">
				<h4 class="visible-sm ss-title-underline" style="border-bottom-color: #{{game.a.primary}}">{{game.a.teamName}}</h4>
				<h2 class="hidden-sm ss-title-underline" style="border-bottom-color: #{{game.a.primary}}">{{game.a.teamName}}</h2>
			</div>
			<div class="col-sm-2 pm-zero">
				<h4 class="visible-sm">&nbsp;{{game.aScore}}</h4>
				<h2 class="hidden-sm">&nbsp;{{game.aScore}}</h2>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<table class="box-score-table full-width-xs auto-width-sm center-element">
			<tr>
				<td class="text-left thead two-third-width-xs auto-width-sm">{{game.plays[game.plays.length-1].t | printedTime:this}}</td>
				<td 
				class="text-left thead" 
				ng-repeat="period in game.boxScore"
				ng-class="{'hidden-sm hidden-xs' : game.boxScoreOT && period.ot && period.period !== game.boxScore.length}">
					{{(period.period > sport.q.n)?period.l:period.period}}
				</td>
				<td class="text-right thead">Total</td>
			</tr>
			<tr ng-repeat="team in aH">
				<td class="bold pm-zero">
					<div class="box-score-table-team" style="border-left-color: #{{game[team.s].primary}}">
						<span class="visible-xs">{{game[team.s].teamName}}</span>
						<span class="hidden-xs">{{game[team.s].short}}</span>
					</div>
				</td>
				<td 
				class="text-left" 
				ng-repeat="period in game.boxScore"
				ng-class="{'hidden-sm hidden-xs' : period.ot && game.boxScoreOT}">
					{{period[team.s]}}
				</td>
				<td 
				class="text-left" 
				ng-class="{'visible-sm visible-xs' : game.boxScoreOT}">
					{{game.boxScoreOT[team.s]}}
				</td>
				<td class="text-right bold">{{game[team.s+"Score"]}}</td>
			</tr>
		</table>
	</div>
	<div class="hidden-xs col-sm-4 pm-zero">
		<div class="row pm-zero">
			<div class="col-sm-2 text-right pm-zero">
				<h4 class="visible-sm">{{game.hScore}}&nbsp;</h4>
				<h2 class="hidden-sm">{{game.hScore}}&nbsp;</h2>
			</div>
			<div class="col-sm-10 pm-zero">
				<h4 class="visible-sm ss-title-underline" style="border-bottom-color: #{{game.h.primary}}">{{game.h.teamName}}</h4>
				<h2 class="hidden-sm ss-title-underline" style="border-bottom-color: #{{game.h.primary}}">{{game.h.teamName}}</h2>
			</div>
		</div>
	</div>
</div>