<div class="row">
	<div class="col-xs-12 col-sm-6 team-stat-graph" ng-class="{'hidden-xs': statType !== game.compare.stat}" ng-repeat="statType in sport.pl">
		<div class="row team-stat-graph-row" ng-click="setCompareStat(statType)">
			<div class="col-xs-4 team-stat-graph-type">
				<div class="fullwidth td-padding bold text-right">
					<div class="overflow-clip">
						<span class="underline-link" ng-class="{'underline-link-selected': statType === game.compare.stat}">
							<span>
								{{ statType.l + ((statType.notPlural)?'':'s') }}
							</span>
						</span>
					</div>
				</div>
				<div class="fullwidth td-padding text-right">
					<div class="overflow-ellipsis" ng-show="statType.pl && statType.sl">
						{{statType.pl}} {{(statType.add)?'/':'-'}} {{statType.sl}}
					</div>
				</div>
			</div>
			<div class="col-xs-2 pm-zero">
				<div ng-repeat="team in aH" class="text-right td-padding">
					{{ teamStatsTable[team.s][statType.a] | reduceDataText:statType }}
				</div>
			</div>
			<div class="col-xs-6">
				<ss-svg-team-stat values="teamStatsTable" stat-type="statType" game="game"></ss-svg-team-stat>
			</div>
		</div>
	</div>
</div>
<div class="row hidden-xs">
	<div class="col-xs-12 text-center note-text">Click stat type to graph.</div>
</div>